@model FAC.Web.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Delete Employee Record</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Employees ", "Index", "Employees", new { area = "" }, new { @class = "" })</li>
                <li>Delete</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeDesignation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeDesignation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludeInTeamList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludeInTeamList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamListViewOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamListViewOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramUrl)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ListeningExperience)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.DesignExperience)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.LearningExperience)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.PersonalExperience)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
