
@{
    ViewBag.Title = "Services";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Services</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!-- Services Section -->
<section class="">
    <div class="container pb-90">

        <div class="row">
            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="@Url.Action("UniversityCourseSelection", "Services", new { area = "" })"><img src="~/media/images/resource/service-1.jpg" alt=""></a></figure>
                        <i class="icon fa fa-graduation-cap"></i>
                        <h6 class="title">University & Course Selection</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="@Url.Action("UniversityCourseSelection", "Services", new { area = "" })"</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website..</div>
                        <a href="@Url.Action("UniversityCourseSelection", "Services", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="@Url.Action("AdmissionGuidance", "Services", new { area = "" })"><img src="~/media/images/resource/service-2.jpg" alt=""></a></figure>
                        <i class="icon fa fa-briefcase"></i>
                        <h6 class="title">Admission Guidance</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="@Url.Action("AdmissionGuidance", "Services", new { area = "" })">Admission Guidance</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website. </div>
                        <a href="@Url.Action("AdmissionGuidance", "Services", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>           

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="@Url.Action("CareerCounseling", "Services", new { area = "" })"><img src="~/media/images/resource/service-5.jpg" alt=""></a></figure>
                        <i class="icon fa fa-home"></i>
                        <h6 class="title">Career Counseling</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="@Url.Action("CareerCounseling", "Services", new { area = "" })">Career Counseling</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="@Url.Action("CareerCounseling", "Services", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="@Url.Action("VisaAssistance", "Services", new { area = "" })"><img src="~/media/images/resource/service-3.jpg" alt=""></a></figure>
                        <i class="icon fa fa-family"></i>
                        <h6 class="title">Visa Assistance</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="@Url.Action("VisaAssistance", "Services", new { area = "" })">Visa Assistance</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="@Url.Action("VisaAssistance", "Services", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>


            <!-- Service Block -->
            <!--<div class="service-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
            <div class="image-box">
                <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-5.jpg" alt=""></a></figure>
                <i class="icon fa fa-home"></i>
                <h6 class="title">Residence Visa</h6>
            </div>
            <div class="content-box">
                <h6 class="title"><a href="page-service-details.html">Residence Visa</a></h6>
                <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>-->
            <!-- Service Block -->
            <!--<div class="service-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
            <div class="image-box">
                <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-2.jpg" alt=""></a></figure>
                <i class="icon fa fa-briefcase"></i>
                <h6 class="title">Business Visa</h6>
            </div>
            <div class="content-box">
                <h6 class="title"><a href="page-service-details.html">Business Visa</a></h6>
                <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>-->
        </div>
    </div>
</section>
<!-- End Services Section-->
