<!-- Countries Section -->
<section class="countries-section @(ViewData["currentPage"].ToString() == "home"? "pt-0":"")">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">countries you can visit</span>
            <h2>Countries we’re supporting <br>for the <span class="color3">immigration</span></h2>
        </div>

        <div class="carousel-outer">
            <!-- Countries Carousel -->
            <div class="countries-carousel owl-carousel owl-theme">
                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagCanada.png" alt=""></div>
                        @Html.ActionLink("Canada", "Canada", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagAustralia.png" alt=""></div>
                        @Html.ActionLink("Australia", "Australia", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagUK.png" alt=""></div>
                        @Html.ActionLink("UK", "UK", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagUSA.png" alt=""></div>
                        @Html.ActionLink("USA", "USA", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagGeorgia.png" alt=""></div>
                        @Html.ActionLink("Georgia", "Georgia", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block-->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagPhilippines.png" alt=""></div>
                        @Html.ActionLink("Philippines", "Philippines", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagKazakhstan.png" alt=""></div>
                        @Html.ActionLink("Kazakhstan", "Kazakhstan", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagGermany.png" alt=""></div>
                        @Html.ActionLink("Germany", "Germany", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagSingapore.png" alt=""></div>
                        @Html.ActionLink("Singapore", "Singapore", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>

                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/Media/images/resource/FlagNewZealand.png" alt=""></div>
                        @Html.ActionLink("NewZealand", "NewZealand", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!--End Countries Section Two -->