
@{
    ViewBag.Title = "News";
}

<!-- Start main-content -->
<section ction class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title"> News</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
               
                <li>News</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!-- News Section -->
<section class="news-section">
    <div class="auto-container">
        <div class="row">
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="@Url.Action("NewsDetails", "News", new { area = "" })"><img src="~/media/images/resource/news-1.jpg" alt=""></a></figure>
                        <span class="date">30 <span class="month">March</span></span>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><i class="fa fa-user-circle"></i>Admin</li>
                            <li><i class="fa fa-comments"></i> 2 Comments</li>
                        </ul>
                        <h4 class="title"><a href="@Url.Action("NewsDetails", "News", new { area = "" })">Top 9 most demand jobs in Canada</a></h4>
                        <div class="text">There are not many of passages of lorem ipsum available alteration in some form.</div>
                    </div>
                </div>
            </div>


            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="@Url.Action("NewsDetails", "News", new { area = "" })"><img src="~/media/images/resource/news-2.jpg" alt=""></a></figure>
                        <span class="date">30 <span class="month">March</span></span>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><i class="fa fa-user-circle"></i>Admin</li>
                            <li><i class="fa fa-comments"></i> 2 Comments</li>
                        </ul>
                        <h4 class="title"><a href="@Url.Action("NewsDetails", "News", new { area = "" })">Top 9 most demand jobs in United Kingdom</a></h4>
                        <div class="text">There are not many of passages of lorem ipsum available alteration in some form.</div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="@Url.Action("NewsDetails", "News", new { area = "" })"><img src="~/media/images/resource/news-3.jpg" alt=""></a></figure>
                        <span class="date">30 <span class="month">March</span></span>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><i class="fa fa-user-circle"></i>Admin</li>
                            <li><i class="fa fa-comments"></i> 2 Comments</li>
                        </ul>
                        <h4 class="title"><a href="@Url.Action("NewsDetails", "News", new { area = "" })">Top 9 most demand jobs in Australia</a></h4>
                        <div class="text">There are not many of passages of lorem ipsum available alteration in some form.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Section -->
