

@{
    ViewBag.Title = "Index";
}
<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Country</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                
                <li>Country</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!-- Section -->
<section>
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-1.png" alt=""></div>
                        @Html.ActionLink("Canada", "Canada", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-1.png" alt=""></div>
                        @Html.ActionLink("Australia", "Australia", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-5.png" alt=""></div>
                        @Html.ActionLink("UK", "UK", "Country", new { area = "" }, new { @class = "theme-btn" })                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-2.png" alt=""></div>
                        @Html.ActionLink("USA", "USA", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-3.png" alt=""></div>
                        @Html.ActionLink("Georgia", "Georgia", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-5.png" alt=""></div>
                        @Html.ActionLink("Philippines", "Philippines", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-6.png" alt=""></div>
                        @Html.ActionLink("Kazakhstan", "Kazakhstan", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-2.png" alt=""></div>
                        @Html.ActionLink("Germany", "Germany", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-2.png" alt=""></div>
                        @Html.ActionLink("Singapore", "Singapore", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Country Block -->
                <div class="country-block">
                    <div class="inner-box">
                        <div class="flag"><img src="~/media/images/resource/flag-2.png" alt=""></div>
                        @Html.ActionLink("NewZealand", "NewZealand", "Country", new { area = "" }, new { @class = "theme-btn" })
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
<!-- End Gallery Section -->
