
@{
    ViewBag.Title = "Index";
}

<!-- Start main-content -->
<section class="page-title" style="background-image: url(../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Visa</h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>                              
                <li>Visa</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!-- Services Section -->
<section class="">
    <div class="container pb-90">

        <div class="row">
            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-1.jpg" alt=""></a></figure>
                        <i class="icon fa fa-graduation-cap"></i>
                        <h6 class="title">Student Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Student Visa</a></h6>
                        <div class="text">A student visa is a legal immigration document issued to students by another country...</div>
                        <a href="@Url.Action("StudentVisa", "Visa", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-2.jpg" alt=""></a></figure>
                        <i class="icon fa fa-briefcase"></i>
                        <h6 class="title">Work Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Work Visa</a></h6>
                        <div class="text">Work visas are permits that allow individuals to travel to another country to work there. </div>
                        <a href="@Url.Action("WorkVisa", "Visa", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-4.jpg" alt=""></a></figure>
                        <i class="icon fa fa-camera"></i>
                        <h6 class="title">Tourist Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Tourist Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="@Url.Action("TouristVisa", "Visa", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-3.jpg" alt=""></a></figure>
                        <i class="icon fa fa-family"></i>
                        <h6 class="title">Spouse Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Family Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="@Url.Action("SpouseVisa", "Visa", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-5.jpg" alt=""></a></figure>
                        <i class="icon fa fa-home"></i>
                        <h6 class="title">Visitors Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Residence Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="@Url.Action("VisitorsVisa", "Visa", new { area = "" })" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Service Block -->
            <!--<div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="page-service-details.html"><img src="~/media/images/resource/service-2.jpg" alt=""></a></figure>
                        <i class="icon fa fa-briefcase"></i>
                        <h6 class="title">Business Visa</h6>
                    </div>
                    <div class="content-box">
                        <h6 class="title"><a href="page-service-details.html">Business Visa</a></h6>
                        <div class="text">We have to a tendency to believe the idea that smart looking of any website.</div>
                        <a href="page-service-details.html" class="read-more">More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>
<!-- End Services Section-->
