
@{
    ViewBag.Title = "StudentVisa";
}
<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">Visa Details</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Start Services Details-->
<section class="services-details">
    <div class="container">
        <div class="row">
            <!--Start Services Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="service-sidebar">
                    <!--Start Services Details Sidebar Single-->
                    <div class="sidebar-widget service-sidebar-single">
                        <div class="service-sidebar wow fadeInUp"
                             data-wow-delay="0.1s" data-wow-duration="1200m">
                            <div class="service-list">
                                <ul>
                                    <li><a href="@Url.Action("StudentVisa", "Visa", new { area = "" })" class="current"><i class="fas fa-angle-right"></i><span>Student Visa</span></a></li>
                                    <li><a href="@Url.Action("WorkVisa", "Visa", new { area = "" })"><i class="fas fa-angle-right"></i><span>Work Visa</span></a></li>
                                    <li><a href="@Url.Action("SpouseVisa", "Visa", new { area = "" })"><i class="fas fa-angle-right"></i><span>Spouse Visa</span></a></li>
                                    <li><a href="@Url.Action("TouristVisa", "Visa", new { area = "" })"><i class="fas fa-angle-right"></i><span>Tourist Visa</span></a></li>
                                    <li><a href="@Url.Action("VisitorsVisa", "Visa", new { area = "" })"><i class="fas fa-angle-right"></i><span>Visitors Visa</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--End Services Details Sidebar Single-->
                    <div class="sidebar-widget banner-widget">


                        <div class="widget-content" style="background-image: url(../../media/images/resource/contact.jpg);">
                            <div class="shape" style="background-image: url(../../media/images/resource/overlay-shape.png);"></div>
                            <div class="content-box">
                                <div class="icon-box">
                                    <i class="lnr lnr-icon-pie-chart"></i>
                                </div>
                                <h3>Be healthy & eat only fresh</h3>
                                <a href="page-contact.html" class="theme-btn btn-style-one light"><span class="btn-title"> Contact us</span></a>
                            </div>
                        </div>
                    </div>

                    <!--Start Services Details Sidebar Single-->
                    <div class="sidebar-widget service-sidebar-single mt-5">
                        <div class="service-sidebar-single-btn wow fadeInUp"
                             data-wow-delay="0.5s" data-wow-duration="1200m">
                            <a href="#" class="theme-btn btn-style-one d-grid"><span class="btn-title"><span class="fas fa-file-pdf"></span> download pdf file</span></a>
                        </div>
                    </div>
                    <!--End Services Details Sidebar Single-->
                </div>
            </div>
            <!--End Services Details Sidebar-->
            <!--Start Services Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="services-details__content">
                    <img src="~/media/images/resource/service-details.jpg" alt="" />
                    <h2 class="mt-4">Visa Overview</h2>
                    <p>
                        A student visa is a legal immigration document issued to students by another country that allows them to study for a certain period of time. Student visas are commonly used by students at colleges, universities, and specialty institutions. Prospective students are generally required to apply for and obtain a student visa before they start school in the host country. These visas are considered non-immigrant visas, which means holders must abide by certain rules to retain their status and stay in the country. Being granted a student visa doesn't necessarily grant individuals the same rights and privileges as citizens, such as voting.
                    </p>

                    <div class="content mt-40">
                        <div class="text">
                            <h3>Key Points</h3>
                        </div>
                        <div class="key-points-list">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <span class="title">A student visa is a legal document that allows individuals to pursue their education in another country.</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <span class="title">These visas are commonly used by post-secondary students or those who intend to pursue specialty studies.</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <span class="title">Student visas aren't automatically granted, which means prospective students must apply for one with the appropriate department of the country where they intend to study.</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <span class="title">
                                            Students must be accepted, enrolled, and able to support themselves financially while in school in order to get a student visa.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <span class="title">
                                            Being approved for a visa doesn't necessarily grant the same rights as citizens in the host country.
                                        </span>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div class="content mt-40">
                        <div class="text">
                            <h3>Visa Center</h3>
                            <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="feature-list">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Entering & Leaving From Country</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Country Citizenship</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Settling In Country</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Quick & Easy Process</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Documents & Payments</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Receive Your Visa</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" mt-25">
                        <h3>Frequently Asked Question</h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <ul class="accordion-box wow fadeInRight">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    How to soft launch your business?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour, or randomised words believable.</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    Is my technology allowed on tech?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour, or randomised words believable.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Services Details Content-->
        </div>
    </div>
</section>
<!--End Services Details-->
