
@{
    ViewBag.Title = "WorkVisa";
}
<!-- Start main-content -->
<section class="page-title" style="background-image: url(../../media/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title"> Work Visa </h1>
            <ul class="page-breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>>@Html.ActionLink("Visa", "Index", "Visa", new { area = "" }, new { @class = "" })</li>
               <li>Work Visa</li>
                
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->
<!--Start Services Details-->
<section class="services-details">
    <div class="container">
        <div class="row">
            <!--Start Services Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="service-sidebar">
                    <!--Start Services Details Sidebar Single-->
                    <div class="sidebar-widget service-sidebar-single">
                        <div class="service-sidebar wow fadeInUp"
                             data-wow-delay="0.1s" data-wow-duration="1200m">
                            <div class="service-list">
                                <ul>
                                    <li><a href="@Url.Action("StudentVisa", "Visa", new { area = "" })" ><i class="fas fa-angle-right"></i><span>Student Visa</span></a></li>
                                    <li><a href="@Url.Action("WorkVisa", "Visa", new { area = "" })" class="current"><i class="fas fa-angle-right"></i><span>Work Visa</span></a></li>
                                    <li><a href="@Url.Action("SpouseVisa", "Visa", new { area = "" })"><i class="fas fa-angle-right"></i><span>Spouse Visa</span></a></li>
                                    <li><a href="@Url.Action("TouristVisa", "Visa", new { area = "" })"><i class="fas fa-angle-right"></i><span>Tourist Visa</span></a></li>
                                    <li><a href="@Url.Action("VisitorsVisa", "Visa", new { area = "" })"><i class="fas fa-angle-right"></i><span>Visitors Visa</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--End Services Details Sidebar Single-->
                    <div class="sidebar-widget banner-widget">


                        <div class="widget-content" style="background-image: url(../../media/images/resource/contact.jpg);">
                            <div class="shape" style="background-image: url(../../media/images/resource/overlay-shape.png);"></div>
                            <div class="content-box">
                                <div class="icon-box">
                                    <i class="lnr lnr-icon-pie-chart"></i>
                                </div>
                                <h3>Be healthy & eat only fresh</h3>
                                <a href="page-contact.html" class="theme-btn btn-style-one light"><span class="btn-title"> Contact us</span></a>
                            </div>
                        </div>
                    </div>

                    <!--Start Services Details Sidebar Single-->
                    <div class="sidebar-widget service-sidebar-single mt-5">
                        <div class="service-sidebar-single-btn wow fadeInUp"
                             data-wow-delay="0.5s" data-wow-duration="1200m">
                            <a href="#" class="theme-btn btn-style-one d-grid"><span class="btn-title"><span class="fas fa-file-pdf"></span> download pdf file</span></a>
                        </div>
                    </div>
                    <!--End Services Details Sidebar Single-->
                </div>
            </div>
            <!--End Services Details Sidebar-->
            <!--Start Services Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="services-details__content">
                    <img src="~/media/images/resource/service-2.jpg" alt=""  />
                    <h2 class="mt-4"> Work Visa Overview</h2>
                    <p>
                       Work visas are permits that allow individuals to travel to another country to work there. In most cases, a work visa or permit is mandatory to accept employment in a foregin state.There are some exceptions, such as in blocks of countries with a policy of freedom of movement (like the EU).
                    </p>
                    <p>
                        Work visas are usually temporary, but may be renewed. Some countries issue permanent work permits or allow holders to change to a residence visa after a certain period of time. 
                    </p>
                    <p>
                        Various countries have a different system in which foregin nationals must first apply for a long-stay visas then obtain a work permit once they arrive in the country.
                    </p>

                    <div class="content mt-40">

                    <div class="content mt-40">
                        <div class="text">
                            <h3>Visa Center</h3>
                            <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="feature-list">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Entering & Leaving From Country</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Country Citizenship</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Settling In Country</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Quick & Easy Process</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Documents & Payments</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                        <h6 class="title">Receive Your Visa</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" mt-25">
                        <h3>Frequently Asked Question</h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <ul class="accordion-box wow fadeInRight">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    Who starts the application?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">Your employer or the client  starts the application for a work permit by providing information about the employment. Your employer needs the details of your name, date of birth, citizenship, your education and email address. Your employer then sends the information about the employment to the union organisation that is appropriate for the work you will be carrying out. When the employer receives an opinion, the employer completes the first part of the application.</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    How long before my work permit expires should I submit a new application?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">You should not submit your application more than four months before your work permit expires if your application concerns the same employer and profession that you already have a permit for. You need to submit your application before your work permit expires. If you do not apply in time you are not allowed to work during the processing time.</div>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    Can I run my own business when I have a work permit?
                                    <div class="icon fa fa-plus"></div>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">If you have a residence and work permit for work , you can run your own company alongside your employment. Your employment must be the main purpose of your stay in country and the conditions for your work permit must be fulfilled. The income from the company will not be taken into account in assessing whether the conditions for the work permit have been met.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Services Details Content-->
        </div>
    </div>
</section>
<!--End Services Details-->
